.car {
    border-radius: 26px;
    box-shadow: 2px 2px 10px #80acacac;
}
.context {
    display: flex;
    flex-direction: column;
    padding: 60px 30px 0 30px;
    margin-bottom: 120px;

    animation-timing-function: ease-in;
}

/*导航栏*/
.navBox {
    position: fixed;
    bottom: 0;
    height: 140px;
    background-color: #fff;
    box-shadow: -10px 0 20px #ffc4c4c4;
}
.nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    animation-timing-function: ease-in-out;
    animation: 700ms iconShare;
    animation-play-state: paused;
    transform-origin: 50% 50%;
}
@keyframes iconShare {
    0% {
        transform: scale(0.6) rotate(0deg);
        opacity: 1;
    }

    25% {
        transform: scale(0.8) rotate(8deg);
        opacity: 0.8;
    }

    50% {
        transform: scale(1.1) rotate(-10deg);
        opacity: 1;
    }

    75% {
        transform: scale(0.8) rotate(8deg);
    }

    100% {
        transform: scale(1) rotate(0deg);
    }
}


/* 1.首页*/
.context1 {
    background-color: #fff;
    padding: 0;
    scrollbar-color: #00000000;
}
.homeTopBg {
    width: 100%;
    height: 350px;
    background-color: #ffbc0d;
    position: absolute;
    top: 0;
    left: 0;
}
.homeTop {
    display: flex ;
    flex-direction: column;
    padding: 30px;
}
.homeTop .topTitle {
    display: flex;
    flex-direction: column;
    padding: 80px 30px 20px 30px;
}
.homeTop label {
    font-size: 32px;
    font-weight: 700;
    margin: 10px 0;
    letter-spacing: 5px;
}

.shopCars {
    width: 100%;
    height: 400px;
    background-color: #fff;
    border-radius: 26px;
    box-shadow: 2px 2px 10px #80808080;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carsBg {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    object-fit: contain;
    border-radius: 26px;
}
.leftCars, .rightCars {
    width: 48%;
    height: 100%;
    display: flex;
    padding: 30px 0;
    flex-direction: column;
    align-items: center;
    font-size: 22px;
}
.leftCars:active,.rightCars:active {
    overflow: hidden ;
    border-radius: 26px;
    background-color: #26dbdbdb;
}

/*中部*/
.homeCenter {
    display: flex;
    flex-direction:column;
    justify-content: center;
    padding: 0px 30px;
    animation-timing-function: ease-in;
    animation: 1s slideInLeft;
}

/*分类*/
.homeCenter .sortCar {
    display: flex;
    width: 30%;
    height: 120px;
    flex-direction: column;
    font-size: 20px;
    margin: 10px;
    padding: 15px;
}
.sortCar label {
    font-size: 30px;
    font-weight: 600;
}
.sortCar image {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 80px;
    height: 80px;
    z-index: -1;
    object-fit: contain;
}
.sortCar:active {
    background-color: #26dbdbdb;
}

/*活动轮播图*/
.homeNews {
    margin: 0 40px 10px 40px ;
    font-size: 30px;
    font-weight: 600;
}
.homeActives {
    margin: 20px 0 0 0;
    overflow: hidden ;
    width: 100%;
    height: 200px;

    animation-timing-function: ease-in;
    animation: 1s slideInLeft;
}

/*视频*/
.bigBoxCar,.videoCar {
    animation-timing-function: ease-in;
    animation: 1s slideInBottom;
    margin: 30px 0;
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.bigBoxCar,.videoCar image {
    position: absolute;
    z-index: 1;
    object-fit: contain;
    background-color: #171717;
}

/*活动列表*/
.activesList {
    width: 100%;
    height: 500px;
    margin: 10px 30px;
    overflow: hidden ;
}
.activesList image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    background-color: #171717;
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0.5;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0.5;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes slideInBottom {
    0% {
        transform: translateY(100%);
        opacity: 0.5;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}
@keyframes opacityIn {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

